@use '@angular/material' as mat;
@use './styles/global.scss';

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$green-palette,
      theme-type: dark,
    ),
    typography: 'Inter',
    density: 0,
  ));
}
